[project]
name = "jsonyx"
version = "1.3.0"
authors = [
  { name="Nice Zombies", email="nineteendo19d0@gmail.com" },
]
description = "jsonyx module"
readme = "README.md"
requires-python = ">=3.10"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "License :: OSI Approved :: GNU General Public License v3 (GPLv3)",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
]

[project.urls]
Homepage = "https://github.com/nineteendo/jsonyx"
Documentation = "https://jsonyx.readthedocs.io"
Issues = "https://github.com/nineteendo/jsonyx/issues"

[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"