sphinx==8.2.3
furo @ git+https://github.com/nineteendo/furo@df7fd07bcba5e56136fa7806730a2386412fe5ff
sphinx-autodoc-typehints @ git+https://github.com/nineteendo/sphinx-autodoc-typehints@8e86073afa1d68da9d9fab4ce3b38346c5fe1388
sphinx-copybutton==0.5.2
sphinx_inline_tabs @ git+https://github.com/nineteendo/sphinx-inline-tabs@e9c63c44000f0a0ed69cfd6de6156e2c1ee75c2f
sphinx-issues==5.0.0
sphinx-last-updated-by-git==0.3.8
sphinx-notfound-page==1.1.0
sphinx-sitemap==2.6.0
sphinxext-opengraph==0.9.1
