sphinx==8.1.3
furo @ git+https://github.com/nineteendo/furo@ca040e8b3c2b2948a99efda6c73f78879444a5bb
multidict==6.1.0
sphinx-autodoc-typehints==2.5.0
sphinx-copybutton==0.5.2
sphinx_inline_tabs @ git+https://github.com/nineteendo/sphinx-inline-tabs@e9c63c44000f0a0ed69cfd6de6156e2c1ee75c2f
sphinx-issues==5.0.0
sphinx-last-updated-by-git==0.3.8
sphinx-notfound-page==1.0.4
sphinx-sitemap==2.6.0
sphinxext-opengraph==0.9.1
