sphinx==8.2.3
furo @ git+https://github.com/nineteendo/furo@9d23caa4b785d29067a1782735a42a75fb5755a6
matplotlib==3.10.8
sphinx-autodoc-typehints==3.5.2
sphinx-copybutton==0.5.2
sphinx_inline_tabs @ git+https://github.com/pradyunsg/sphinx-inline-tabs@5e91213e5f3d3d13d5d2114b29b53e6c0dbbf921
sphinx-issues==5.0.1
sphinx-last-updated-by-git==0.3.8
sphinx-notfound-page==1.1.0
sphinx-sitemap==2.9.0
sphinxext-opengraph==0.13.0
